html {
    background: #43324d;
    background-image: linear-gradient(135deg, #412F47 20%, #463958 80%);
    background-attachment: fixed;

    font-family: Verdana;
    color:white;
}

/* Navigation Bars Styling */
main {
    margin-left: 170px;
}

.navbar {
    position: fixed;
    width: 150px;
    margin: 10px;
    padding: 0px;
}

.contents {
    position: fixed;
    width: 150px;
    margin: 10px;
    margin-top: 270px;
    padding: 0px;
}

.navbar h5, .contents h5 {
    text-align: center;
    text-decoration: underline;
    margin: 5px;
}

.navbar p {
    font-size: 9px;
}

.navbar div {
    margin: 1px;
    padding: 1px 10px;
}

.navbar ul, .contents ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar li a {
    display: block;
    padding: 8px 16px;
}

.contents li a {
    display: block;
    padding: 4px 16px;
}

.navbar li a:hover:not(.current), .contents li a:hover {
    background-color: #43324D;
}

.current {
    background-color: #463958;
}

div {
    box-shadow: 2px 2px #39273B;
    background: #3F2B41;
    padding: 10px;
    margin: 10px;
}

div div {
    box-shadow: 0 0;
}

h1, h3, h4, h5 {
    text-decoration: underline;
    margin: 2px;
}

h2 {
    margin: 2px;
}

a, p {
    color: white;
}