:root {
--bgColour: #43324D;
--pageColour: #3F2B41;
--highlightColour: #463958;
--textColour: #FFFFFF;
}

body {
width:1000px;
margin:auto;
background-color: var(--pageColour);
color: #FFFFFF;
font-family: Verdana;
font-size: 12px 
}

main {
background-color: var(--bgColour) 
margin: 2px;
padding: 3px;
overflow: hidden;
}

p a { color: #FFFFFF }

h2 a { 
color: #FFFFFF;
}

h3 { padding: 5px; }
h2 { padding: 5px; }
h1 { padding: 5px; }

video {
display:block;
margin:auto;
}

ul {
width:520px;
margin:auto;
padding: 0;
list-style:none;
overflow:hidden;
}

li {
float:left;
border-right: 1px solid var(--pageColour);
border-left: 1px solid var(--pageColour);
background-color: var(--bgColour)
}

li a {
color: #FFFFFF;
display:block;
padding: 12px 32px;
text-align:center;
text-decoration: underline #FFFFFF; 
}

li a:hover:not(.current) {
background-color: var(--highlightColour);
}

.current {
background-color: #535486;
text-decoration: none;
}



footer {
background-color: var(--bgColour);
padding: 5px;
margin-top: 1;
font-size: 9px;
}

div {
background-color: var(--bgColour);
margin-top:3px;
}

.half,{
  float: left;
  width: 50%;
}